body {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

/*!!!!!!!!!header-up!!!!!!!!!!!!*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.header-up {
  font-size: 17px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
  background-color: #293449;
  width: 100%;
}

.header-up-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-up a {
  color: #ffffff;
}

.logo {
  display: block;
  width: 220px;
  height: 29px;
  background-color: #ee3643;
  text-align: center;
  padding-top: 13px;
  -webkit-box-shadow: 0px 4.8px 0px 0px rgba(181,41,51,1);
          box-shadow: 0px 4.8px 0px 0px rgba(181,41,51,1);
  z-index: 1;
}

.logo[href]:hover {
  background-color: #ca2c37;
}

.logo[href]:active {
  background-color: #ba2732;
}

.search {
  width: 270px;
  font-size: 17px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
  background-color: #293449;
  border: none;
  padding: 12px 12px 12px 49px;
  outline: none;
}

.search-label {
  display: block;
  position: relative;
}

.search-label svg {
  position: absolute;
  top: 12px;
  left: 17px;
  fill: #ffffff;
  opacity: 0.3;
}

.search-label:hover svg {
  opacity: 1;
}

.search:focus ~ svg {
  opacity: 1;
  fill: #ee3643;
}

.search::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search::placeholder {
  color: #ffffff;
  opacity: 1;
}

.search:focus::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

.search:focus:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.search:focus::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.search:focus::placeholder {
  color: #000000;
  opacity: 1;
}

.search:hover {
  background-color: #212a3a;
}

.search:focus {
  color: #000000;
  background-color: #ffffff;
}

.header-up-orders {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-up-orders a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  display: block;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.bookmark {
  display: block;
  position: relative;
  padding-left: 44px;
  padding-right: 27px;
}

.bookmark::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 17px;
  width: 16px;
  height: 16px;;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmark:hover::before {
  opacity: 1;
}

.bookmark:active::before {
  opacity: 0.3;
}

.cart {
  display: block;
  position: relative;
  padding-left: 48px;
  padding-right: 31px;
}

.cart::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 17px;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart:hover::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.3;
}

.cart-active {
  background-color: #ee3643;
}

.bookmark:hover,
.bookmark:focus,
.cart:hover,
.cart:focus {
  background-color: #212a3a;
}

.bookmark:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.orders {
  min-width: 150px;
  color: #ffffff;
  background-color: #63a63e;
}

.orders:hover,
.orders:focus {
  background-color: #5fbb2d;
}

.orders:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

/*!!!!!!!!!!!header-up!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!header-down!!!!!!!!!!!!!!*/

.header-down {
  background-color: #f4f7f9;
  color: #ffffff;
  text-align: left;
  margin-bottom: 59px;
}

.inner-page .header-down {
  margin-bottom: 20px;
}

.header-down-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 46px;
  margin-bottom: 39px;
}

.header-title {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
  background-color: #f4f7f9;
  width: 200px;
  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-left: 52px;
  margin-right: 18px;
}

.header-contacts {
  width: 270px;
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

.header-number a{
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  display: block;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #ee3643;
  border: 3px solid #ffffff;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 71px;
  margin-bottom: 5px;
  margin-top: -2px;
}

.header-number a::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 1px -1px;
}

.header-address {
  font-size: 14px;
  text-align: center;
  color: #32425c;
  background-color: #f4f7f9;
  padding-right: 1px;
}

.inner-page .user-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
}

.inner-page .user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
}

.index .user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 300px;
  margin: 0;
  padding: 0;
}

.user-block a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
}

.login {
  display: block;
  position: relative;
  margin-right: 10px;
  padding-left: 48px;
  padding-right: 26px;
}

.index .login::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 16px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.index .login:hover.login::before {
  opacity: 1;
}

.index .login:active.login::before {
  opacity: 0.3;
}

.inner-page .login::before {
  content: "";
  position: absolute;
  top: 13.2px;
  left: 14.3px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.login:active::before {
  opacity: 0.3;
}

.user {
  text-align: left;
  width: 220px;
  margin: 0;
  padding-left: 28px;
  padding-right: 0px;
}

.logout a {
  display: block;
  position: relative;
  width: 52px;
  height: 45px;
  padding: 0;
}

.logout a::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 21px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.logout a:hover::before,
.logout a:focus::before {
  opacity: 1;
}

.registration {
  width: 150px;
}

.login:hover,
.login:focus {
  color: #ee3643;
  background-color: #ffffff;
}

.registration:hover,
.registration:focus {
  color: #ee3643;
  background-color: #ffffff;
}

.inner-page .login:hover,
.inner-page .login:focus {
  color: #000000;
  background-color: #ffffff;
}

.login:active,
.inner-page .login:active,
.registration:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.user-block-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  background-color: #f4f7f9;
  text-decoration: underline;
}

.my-orders {
  position: relative;
  margin-left: 19px;
  margin-right: 32px;
}

.my-orders::after {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  right: -19px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.my-orders:hover,
.my-orders:focus,
.personal-area:hover,
.personal-area:focus {
  color: #ee3643;
  background-color: #f1f5f7;
}

.my-orders:active,
.personal-area:active {
  color: rgba(50, 66, 92, 0.3);
  background-color: #f1f5f7;
}

.header-down li,
.site-navigation {
  list-style: none;
}

.header-navigation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  padding-bottom: 65px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  background-color: #32425c;
  -webkit-box-shadow: 0px 5px 0 0 #293449;
          box-shadow: 0px 5px 0 0 #293449;
  padding-left: 21px;
  padding-right: 21px;
}

.site-navigation a {
  text-align: left;
  display: block;
  margin: 0;
  padding: 0;
  padding: 19.1px 30.6px;
  color: #ffffff;
  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #ffffff;
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/*!!!!!!!!!!!!!header-down!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!!!!!!main!!!!!!!!!!!!!!!!!!!!!!!!!*/

.index-page {
  color: #000000;
  background-color: #ffffff;
  width: 100%;
}

.main-top {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #ffffff;
}

.main-offers {
  width: 940px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 413px;
  margin: 0 auto;
  margin-bottom: 32.2px;
}

.offers-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  padding-top: 21px;
  padding-left: 21px;
  padding-bottom: 21px;
}

.offers-item a {
  display: block;
  width: 135px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 4px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.offers-item a:hover,
.offers-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offers-item h2 {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.main-offers .offers-item,
.main-offers .slider {
  margin-right: 20px;
  margin-bottom: 20px;
}

.main-offers .offers-item:nth-child(1) {
  background-color: #ffbf47;
}

.main-offers > .offers-item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 42px;
  width: 45px;
  height: 65px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-offers > .offers-item:nth-child(2) {
  background-color: #3bbce3;
}

.main-offers > .offers-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 65px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-offers .offers-item:nth-child(3) {
  background-color: #dc91d8;
  margin-right: 0;
}

.main-offers > .offers-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 29px;
  width: 80px;
  height: 65px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.offers-wrapper .offers-item:nth-child(1) {
  background-color: #8ed78f;
  margin-right: 0;
  margin-bottom: 20px;
}

.offers-wrapper > .offers-item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 44px;
  width: 60px;
  height: 75px;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.offers-wrapper .offers-item:nth-child(2) {
  background-color: #ffc047;
  margin-right: 0;
}

.offers-wrapper > .offers-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 29px;
  width: 80px;
  height: 65px;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider {
  position: relative;
  list-style: none;
}

.slider-list {
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #8B7B6E;
}

.slider-item {
  display: none;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 24px;
}

.slider-control {
  position: absolute;
  z-index: 100;
  width: 575px;
  height: 45px;
  top: 114px;
  left: 24px;
  text-align: center;
  font-size: 0;
}

.slider-control-1 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  background-position: center;
    background-color: transparent;
  cursor: pointer;
  left: -255px;
  padding: 20px;
  border: none;
}

.slider-control-2 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -258px;
  padding: 20px;
  border: none;
}

.slider-item:first-child {
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
}

.slider-item:last-child {
  background-image: url("../img/slide-2.jpg");
  background-repeat: no-repeat;
}

.slider-button:nth-child(1):checked ~ .slider-list .slider-item:first-child {
  display: block;
}

.slider-button:nth-child(2):checked ~ .slider-list .slider-item:last-child {
  display: block;
}

.slider-indicator {
  position: absolute;
  z-index: 100;
  width: 40px;
  height: 15px;
  top: 216px;
  left: 295px;
  text-align: center;
  font-size: 0;
}

.slider-indicator-item1,
.slider-indicator-item2 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 10px;
}

.slider-button:nth-child(1):checked ~ .slider-indicator .slider-indicator-item1::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: #ee3643;
}

.slider-button:nth-child(2):checked ~ .slider-indicator .slider-indicator-item2::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: #ee3643;
}

.slider-item h3 {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}

.slider-item p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 123px;
}

.slider-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  width: 195px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 22px;
}

.top-product {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 430px;
}

.top-product-title {
  width: 940px;
  background-color: #f9f5f0;
  margin: 0 auto;
  margin-bottom: 20px;
}

.top-product-title h2 {
  display: inline-block;
  width: 600px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: middle;
  color: #32425c;
  padding: 0;
  margin: 0;
  margin-left: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 32px;
}

.top-product-title a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  width: 253px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-product-title a:hover,
.top-product-title a:focus {
  background-color: #ca2c37;
}

.top-product-title a:active {
  background-color: #ba2732;
}

.top-product-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
}

.top-manufacturer {
  width: 940px;
  min-height: 430px;
  margin-bottom: 64px;
}

.top-manufacturer-title {
  width: 940px;
  background-color: #f9f5f0;
  margin: 0 auto;
  margin-bottom: 20px;
}

.top-manufacturer-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  vertical-align: middle;
  text-transform: uppercase;
  width: 600px;
  color: #32425c;
  padding: 0;
  margin: 0;
  margin-left: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 32px;
}

.top-manufacturer-title a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  width: 253px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-manufacturer-title a:hover,
.top-manufacturer-title a:focus {
  background-color: #ca2c37;
}

.top-manufacturer-title a:active {
  background-color: #ba2732;
}

.top-manufacturer-catalog {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}

.brand {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-align: center;
  width: 220px;
  height: 145px;
  outline: 1px solid #eaeaea;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.brand:hover,
.brand:focus {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand:active {
  -webkit-box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brand:active img {
  opacity: 0.3;
}

.manufacturer-catalog-item {
  margin-right: 20px;
}

.top-manufacturer-catalog .manufacturer-catalog-item:nth-of-type(4n) {
  margin-right: 0;
}

.service {
  width: 100%;
  min-height: 522px;
  background-color: #f4f7f9;
}

.service-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 65.1px;
}

.service-wrapper h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
}

.service-title-wrapper {
  width: 400px;
  margin: 0;
  padding: 0;
  margin-bottom: 66px;
}

.service-title-wrapper p {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
}

.service-active-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.service-slide-item {
  display: none;
  min-height: 236px;
  padding-bottom: 50px;
}

.service-slide-item:first-child {
  display: block;
}

.service-slider-list .delivery {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 99% 96%;
}

.service-slider-list .warranty {
  padding-left: 5px;
  background-image: url("../img/warranty.png");
  background-repeat: no-repeat;
  background-position: 99% 96%;
}

.service-slider-list .credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 99% 96%;
}

.service-slide-item h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  width: 200px;
  color: #32425c;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  letter-spacing: 0.3px;
}

.service-slide-item p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 375px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.service-slide-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  width: 195px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
}

.service-slide-item a:hover,
.service-slide-item a:focus {
  background-color: #ca2c37;
}

.service-slide-item a:active {
  background-color: #ba2732;
}

.service-btn {
  position: relative;
  margin-right: 78px;
}

.service-btn::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0px;
  width: 10px;
  height: 279px;
  background-image: url("../img/shadow.png");
}

.service-btn-item {
  display: block;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  width: 241px;
  padding-left: 22px;
  padding-top: 16px;
  padding-bottom: 15.6px;
  color: #ffffff;
  background-color: #32425c;
  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
  letter-spacing: 0.6px;
  text-align: left;
}

.service-btn-item:hover,
.service-btn-item:focus {
  background-color: #293449;
}

.service-btn-item-current {
  color: #32425c;
  background-color: #ffffff;
  border-color: transparent;
}

.service-btn-item-current:hover,
.service-btn-item-current:focus {
  color: #ffffff;
  background-color: #293449;
  border-color: transparent;
}

.information {
  color: #000000;
  background-color: #ffffff;
  line-height: 24px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 86.8px;
  padding-top: 78px;
}

.information p {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  margin-top: 0;
  padding: 0;
}

.main-info {
 width: 540px;
}

.main-info-p1 {
  margin-bottom: 24px;
}

.main-info-p2 {
  width: 386px;
  margin-bottom: 22px;
}

.main-contacts {
  width: 300px;
}

.info-title,
.main-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.main-info-item {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
}

.main-info-item li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 36px;
  letter-spacing: -0.4px;
}

.main-info-item li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 25px;
  height: 3px;
  background-color: #ee3643;
}

.main-info-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  width: 220px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-info-link:hover,
.main-info-link:focus {
  background-color: #ca2c37;
}

.main-info-link:active {
  background-color: #ba2732;
}

.main-contacts {
  width: 300px;
}

.main-contacts p {
  width: 179px;
  margin-bottom: 32px;
}

.map {
  display: block;
  margin-bottom: 32px;
}

.write-us-link {
  width: 300px;
}

/*!!!!!!!!!!!!!!!!!!!!!main!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!catalog-page!!!!!!!!!!!!!!!!!!!!!*/

.catalog-page {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  width: 100%;
}

 .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 1;
}

.offers-item .flag {
  top: 0;
  right: 0;
}

.top-prod .flag {
  top: -1px;
  right: -1px;
}

 .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-page-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  margin-bottom: 62px;
}

.catalog-page li {
  list-style: none;
}

.breadcrumbs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -25px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:first-child::before {
  display: none;
}

.breadcrumbs-item {
  display: block;
  color: #000000;
  background: #ffffff;
}

.breadcrumbs-home {
  position: relative;
  width: 15px;
  height: 15px;
}

.breadcrumbs-home::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 2px;
  width: 14px;
  height: 12px;
  font-size: 0;
  background-image: url("../img/icon-home.svg");
  border: 0;
  cursor: pointer;
  margin-left: 0px;
}

.catalog-title h1 {
  margin: 0;
  padding: 0;
}

.catalog-title {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  font-weight: normal;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 27px;
  padding-bottom: 30px;
}

.catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 940px;
}

.filter {
  width: 220px;
  margin-right: 20px;
}

.filter-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #f7f3ec;
  padding: 0;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 18px;
  margin-bottom: 11px;
  border-radius: 3px;
}

.filter-checkbox:focus + .filter-checkbox-label::before {
  opacity: 1;
}

.filter-checkbox:checked:focus + .filter-checkbox-label::after {
  opacity: 1;
}

.filter-checkbox-label,
.filter-radio-label {
  font-size: 15px;
  line-height: 20px;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter-form ul {
  margin: 0;
  padding: 0;
}

.filter-form li {
  padding-left: 34px;
  margin-bottom: 20px;
}

.filter-price {
  padding: 0;
  margin: 0;
  border: none;
  min-height: 182px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 16px;
  padding-top: 14px;
}

.range-controls {
  position: relative;
  background-color: #f7f3ec;
  border-radius: 3px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 39px;
  margin-bottom: 10px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff ;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 1px 0 rgba(224, 221, 216, 1);
          box-shadow: 0px 2px 1px 0 rgba(224, 221, 216, 1);
  padding: 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-wrapper input {
  width: 95px;
  padding: 10px 0px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  border: none;
  border-radius: 3px;
  background: #f7f3ec;
}

.max-price {
  position: relative;
}

.max-price::before {
  content: "—";
  position: absolute;
  top: 9px;
  left: -20px;
}

.filter-manufacturer {
  padding: 0;
  margin: 0;
  border: none;
  padding-top: 14px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 16px;
}

.filter-manufacturer li:last-child {
  padding-bottom: 3px;
}

.filter-checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
}

.filter-checkbox + .filter-checkbox-label::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -35px;
  width: 25px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.7;
}

.filter-checkbox + .filter-checkbox-label:hover::before,
.filter-checkbox + .filter-checkbox-label:focus::before {
  opacity: 1;
}

.filter-checkbox:disabled + .filter-checkbox-label,
.filter-checkbox:disabled + .filter-checkbox-label::before {
  opacity: 0.4;
}

.filter-checkbox:checked + .filter-checkbox-label::before {
 display: none;
}

.filter-checkbox:checked + .filter-checkbox-label::after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -35px;
  width: 24px;
  height: 24px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.7;
}

.filter-checkbox + .filter-checkbox-label:hover::after,
.filter-checkbox + .filter-checkbox-label:focus::after {
 opacity: 1;
}

.filter-checkbox:disabled + .filter-checkbox-label::after {
  opacity: 0.4;
}

.filter-power {
  padding: 0;
  margin: 0;
  border: none;
  padding-top: 14px;
  margin-bottom: 59px;
}

.filter-radio-label {
  display: block;
  position: relative;
  cursor: pointer;
}

.filter-radio:checked:focus + .filter-radio-label::after {
  background-color: #b5b5b5;
}

.filter-radio:checked:focus + .filter-radio-label::before {
  border-color: #b5b5b5;
}

.filter-radio + .filter-radio-label::before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: -35px;
  width: 15px;
  height: 15px;
  background-position: 0 0;
  border: 5px solid #c5c5c5;
  border-radius: 50%;
}

.filter-radio + .filter-radio-label:hover::before,
.filter-radio + .filter-radio-label:focus::before {
  border-color: #b5b5b5;
}

.filter-radio:disabled + .filter-radio-label,
.filter-radio:disabled + .filter-radio-label::before {
  border-color: #b5b5b5;
  opacity: 0.4;
}

.filter-radio:checked + .filter-radio-label::after {
  display: block;
  content: "";
  position: absolute;
  top: 7px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-position: 0 0;
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-radio + .filter-radio-label:hover::after {
  background-color: #b5b5b5;
}

.filter-radio:disabled + .filter-radio-label::after {
  background-color: #b5b5b5;
  opacity: 0.4;
}

.filter input[type="submit"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  width: 140px;
  height: 37px;
  text-transform: uppercase;
  cursor: pointer;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  width: 700px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 18px;
  border-radius: 3px;
}

.sorting-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-right: 139px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 402px;
  margin: 0;
  padding: 0;
}

.sorting-list-up-down {
  width: 45px;
  height: 10px;
  margin: 0;
  padding: 0;
}

.sorting-item-price {
  margin-right: 68px;
}

.sorting-item-type {
  margin-right: 62px;
}

.sorting-item-functional {
  margin-right: 45px;
}

.sorting-list-up-down {
  display: flex;
  position: relative;
}

.sorting-item-up-down:first-child {
  margin-right: 18px;
}

.sorting-item-up-down:last-child {
  position: absolute;
  top: 0px;
  right: 2px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sorting-item-up-down a:hover svg,
.sorting-item-up-down a:focus svg {
  fill: #000000;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.18);
  background-color: #f7f3ec;
  border-bottom: 1px dotted #ee3643;
  cursor: pointer;
  padding-left: 2px;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #000000;
  background-color: #f7f3ec;
  border-bottom: 1px solid #ee3643;
}

.sorting-item a:active {
  color: #ee3643;
  background-color: #f7f3ec;
  border-bottom: none;
}

.sorting-current a {
  color: #ee3643;
  border: none;
}

.sorting-item-current svg {
  color: #ee3643;
  fill: #ee3643;
  border: none;
}

.description {
  width: 100%;
  background-color: #f4f7f9;
}

.description-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 63px;
  padding-bottom: 69px;
}

.description-wrapper h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 26px;
  letter-spacing: 0.17px;
}

.description-wrapper p {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
  text-transform: none;
  margin: 0 auto;
}

.description-wrapper p:last-child {
  letter-spacing: 0.13px;
}

/*!!!!!!CATALOG!!!!!!*/

.catalog-page .catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.catalog {
  margin: 0;
  padding: 0;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 700px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 31px;
}

.catalog-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  min-height: 318px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #e5e5e5;
  outline-offset: -1px;
  background-color: #ffffff;
  font-style: normal;
}

.inner-page .catalog-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.inner-page .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.index-page .top-prod {
  font-family: "PT Sans", Arial, sans-serif;
  margin-right: 20px;
  margin-bottom: 20px;
}

.index-page .top-prod:nth-of-type(4n) {
  margin-right: 0;
}

.image-wrapper {
  position: relative;
  width: 218px;
  height: 170px;
  margin-top: 1px;
  margin-bottom: 7px;
}

.index-page .image-wrapper {
  margin-bottom: 7px;
}

.catalog-item-image {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-item-active {
  position: absolute;
  font-family: "Cuprum", Arial, sans-serif;
  list-style: none;
  top: 42px;
  left: 40px;
  padding: 0;
  margin: 0;
}

.btn-buy {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 136px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #63a63e;
  border-radius: 3px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 6px;
  margin-bottom: 7px;
  -webkit-box-shadow: inset 0px -3px 0 0 #367315;
          box-shadow: inset 0px -3px 0 0 #367315;
  outline: none;
  opacity: 0;
}

.btn-buy::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.btn-buy:hover::before,
.btn-buy:focus::before {
  opacity: 1;
}

.btn-buy:hover,
.btn-buy:focus {
  color: #ffffff;
  background-color: #5fbb2d;
}

.btn-buy:active {
  color: #ffffff;
  background-color: #518534;
  -webkit-box-shadow: inset 0px -3px 0 0 #518534;
          box-shadow: inset 0px -3px 0 0 #518534;
}

.btn-add-to-bookmark {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 136px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
  padding: 0;
  padding-top: 7px;
  padding-left: 8px;
  padding-bottom: 10px;
  outline: none;
  opacity: 0;
}

.btn-add-to-bookmark:hover,
.btn-add-to-bookmark:focus {
  border-color: #32425c;
}

.btn-add-to-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  background-color: #ffffff;
  border-color: #32425c;
  opacity: 0.3;
}

.catalog-item:hover a {
  opacity: 1;
  z-index: 3;
}

.catalog-item:focus-within a {
  opacity: 1;
}

.catalog-item:focus-within img {
  opacity: 0;
}

.catalog-item:hover img {
  opacity: 0;
}

.catalog-item a:focus {
  opacity: 1;
}

.catalog-item:hover {
  z-index: 2;
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:focus-within {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  width: 160px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-transform: none;
  margin-bottom: 12px;
}

.item-title a {
  color: #000000;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  color: #999999;
  background-color: #ffffff;
  margin-bottom: 10px;
  font-weight: 700;
}

.no-old-price{
  visibility: hidden;
}

.item-price {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 122px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  margin-left: -12px;
  margin-bottom: 18px;
  color: #ffffff;
  background-color: #ee3643;
  padding: 0;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 11px;
  border-radius: 2px 0.8px 0.8px 2px;
}

.top-prod .item-price {
  margin-bottom: 20px;
}

.item-price::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 121.5px;
  border: 19.4px solid transparent;
  border-left-color: #ee3643;
}

/*!!!!!!CATALOG!!!!!!*/

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  width: 37px;
  height: 37px;
  margin-right: 10px;
}

.pagination-item-advance a {
  width: 140px;
}

.pagination-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
}

.pagination a:hover,
.pagination a:focus {
  border-color: #bdc6ca;
}

.pagination a:active {
  border-color: #ee3643;
}

/*!!!!!!!!!!!!!!!!CATALOG.html!!!!!!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!!!!!!!footer!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.page-footer {
  font-size: 18px;
  color: #ffffff;
  text-align: left;
  width: 100%;
}

.page-footer a {
  color: #ffffff;
}

.page-footer li{
  list-style: none;
}

.footer-up {
  width: 100%;
  background-color: #32425c;
}

.footer-up-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 51px
}

.footer-contacts-block {
  width: 330px;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  margin-left: 3px;
}

.footer-contacts-block a {
  color: #f3f7f9;
}

.footer-logo {
  display: block;
  width: 220px;
  height: 44px;
  background-color: #ee3643;
  text-align: center;
  padding-top: 18px;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
          box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
  margin-bottom: 32px;
}

.footer-logo[href]:hover {
  background-color: #ca2c37;
}

.footer-logo[href]:active {
  background-color: #ba2732;
}

.footer-navigation-site {
  min-width: 550px;
  margin: 0;
  padding: 0;
  margin-top: 36px;
  text-align: right;
}

.footer-navigation-other {
  width: 550px;
  margin: 0;
  padding: 0;
  margin-top: 34px;
  text-align: right;
}

.footer-navigation-site li,
.footer-navigation-other li {
  display: inline;
  margin-right: 55px;
}

.footer-navigation-site li:last-child,
.footer-navigation-other li:last-child {
  margin-right: 0;
}

.footer-navigation-other a,
.footer-feedback a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation-site a:active {
  color: rgba(241, 245, 247, 0.5);
  background-color: #32425c;
  text-decoration: none;
}

.footer-navigation-other a:active {
  color: rgba(255, 209, 128, 0.5);
  background-color: #32425c;
  text-decoration: none;
}

/*!!!!!!!!!FOOTER-DOWN!!!!!!!!!!!*/

.footer-down {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  width: 100%;
}

.footer-down-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 38px;
  padding-bottom: 29px;
}

.copyright {
  margin: 0;
  width: 230px;
  margin-right: 159px;
}

.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  margin: 0;
  padding: 0;
  margin-top: -2px;
  margin-right: 61px;
}

.footer-social-links a {
  display: block;
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  margin-right: 3px;
}

.footer-social-links a:hover,
.footer-social-links a:active {
  background-color: #ee3643;
}

.link-vk a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 9px;
  width: 26px;
  height: 15px;;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link-fb a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 12px;
  height: 22px;
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link-insta a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-feedback {
  width: 105px;
}

.feedback-mail {
  margin-right: 49px;
  width: 140px;
}

.footer-feedback p {
  margin: 0;
}

.footer-feedback a:hover,
.footer-feedback a:focus {
  text-decoration: underline;
}

.footer-feedback a:active {
  color: #ee3643;
  background-color: #293449;
  border: none;
}

/*!!!!!!!!!!!!!!!!!!!!!!footer!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.vis-hid {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

/*!!!!!!!!!!!!!!!!!!!!!!!!MODAL-INDEX!!!!!!!!!!!!!!!!!!!!!!!!!*/

.modal-show {
  display: block;
  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.modal-error {
  -webkit-animation: shake 1s;
          animation: shake 1s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }
}

.modal-maps {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 940px;
  color: #000000;
  background-color: #ffffff;
-webkit-box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
        box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
  z-index: 100;
}

.modal-maps iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-maps p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 3;
}

.modal-map-close::before,
.modal-map-close::after {
  content: "";
  top: 9px;
  left: -3px;
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: #ee3643;
  border-radius: 3px;
}

.modal-map-close:hover::before,
.modal-map-close:focus::before,
.modal-map-close:hover::after,
.modal-map-close:focus::after {
  background-color: #ca2c37;
}

.modal-map-close:active::before,
.modal-map-close:active::after {
  background-color: #ba2732;
}

.modal-map-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-map-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*!!!!!!!!!!!!!MODAL-WRITE-US!!!!!!!!!!!!!!!!!!!*/

.modal-write-us {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 620px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
  z-index: 100;
}

.modal-show {
  display: block;
}

.mdl-write-us-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 47px;
}

.mdl-write-us-item:first-child {
  margin-right: 20px;
  margin-bottom: 5px;
}

.mdl-write-us-label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 17px;
}

.mdl-write-us-label:nth-last-of-type(3) {
  margin-top: 3px;
}

.mdl-write-us-label,
.mdl-write-us-label input,
.mdl-write-us-label textarea {
  display: block;
}

.mdl-write-us-label input[type="text"],
.mdl-write-us-label input[type="email"] {
  width: 201px;
  font-size: 13px;
  line-height: 13px;
  text-align: left;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  outline: none;
  margin-top: 10px;
  border: solid 2px #d7dcde;
  border-radius: 3px;
}

.mdl-write-us-label textarea {
  width: 439px;
  height: 98px;
  font-size: 13px;
  line-height: 13px;
  text-align: left;
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 4px;
  outline: none;
  margin-top: 10px;
  border: solid 2px #d7dcde;
  border-radius: 3px;
  resize: none;
  margin-bottom: 41px;
}

.mdl-write-us-label textarea:hover,
.mdl-write-us-label input:hover {
  border-color: #b5b5b5;
}

.mdl-write-us-label textarea:focus,
.mdl-write-us-label input:focus {
  border-color:#ee3643;
}

.modal-text::-webkit-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
  font-size: 13px;
  line-height: 13px;
  opacity: 1;
}

.modal-text:-ms-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
  font-size: 13px;
  line-height: 13px;
  opacity: 1;
}

.modal-text::-ms-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
  font-size: 13px;
  line-height: 13px;
  opacity: 1;
}

.modal-text::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
  font-size: 13px;
  line-height: 13px;
  opacity: 1;
}

.modal-text:focus::-webkit-input-placeholder {
  color: #999999;
  opacity: 1;
}

.modal-text:focus:-ms-input-placeholder {
  color: #999999;
  opacity: 1;
}

.modal-text:focus::-ms-input-placeholder {
  color: #999999;
  opacity: 1;
}

.modal-text:focus::placeholder {
  color: #999999;
  opacity: 1;
}

.modal-write-us-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
}

.modal-write-us-send-btn {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  width: 460px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 0px;
  margin-top: -5px;
  margin-left: -2px;
  border: 0;
  cursor: pointer;
}

.modal-write-us-send-btn:hover,
.modal-write-us-send-btn:focus {
  background-color: #ca2c37;
}

.modal-write-us-send-btn:active {
  background-color: #ba2732;
}

.modal-write-us-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
}

.modal-write-us-close::before,
.modal-write-us-close::after {
  content: "";
  top: 9px;
  left: -3px;
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: #ee3643;
  border-radius: 3px;
}

.modal-write-us-close:hover::before,
.modal-write-us-close:focus::before,
.modal-write-us-close:hover::after,
.modal-write-us-close:focus::after {
  background-color: #ca2c37;
}

.modal-write-us-close:active::before,
.modal-write-us-close:active::after {
  background-color: #ba2732;
}

.modal-write-us-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-write-us-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*!!!!!!!!!!!!!!!!!!!!!!!!MODAL-INDEX!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!!!!!!!!MODAL-CATALOG!!!!!!!!!!!!!!!!!!!!!!!*/

.modal-check {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 620px;
  min-height: 275px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ee3643;
  z-index: 100;
}

.modal-check:target {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.modal-check-up {
 text-align: center;
}

.modal-check h2 {
  position: relative;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-top: 65px;
  margin-left: 70px;
  margin-bottom: 69px;
}

.modal-check h2::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 11px;
  width: 66px;
  height: 66px;
  background-image: url("../img/modal-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-check-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 112px;
  background-color: #f1f1f1;
}

.modal-check-down a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  width: 220px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
}

.modal-check-down a:focus,
.modal-check-down a:hover {
  background-color: #ca2c37;
}

.modal-check-down a:active {
  background-color: #ba2732;
}

.modal-check-close-other {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  width: 220px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  cursor: pointer;
}

.modal-check-close-other:hover,
.modal-check-close-other:focus {
  color: #ee3643;
}

.modal-check-close-other:active {
color: rgba(0, 0, 0, 0.3);
}

.modal-check-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
}

.modal-check-close::before,
.modal-check-close::after {
  content: "";
  top: 9px;
  left: -3px;
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: #ee3643;
  border-radius: 3px;
}

.modal-check-close:hover::before,
.modal-check-close:focus::before,
.modal-check-close:hover::after,
.modal-check-close:focus::after {
  background-color: #ca2c37;
}

.modal-check-close:active::before,
.modal-check-close:active::after {
  background-color: #ba2732;
}

.modal-check-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-check-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*!!!!!!!!!!!!!!!!!!!!!!MODAL-CATALOG!!!!!!!!!!!!!!!!!!!!!!!*/
